---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <div class="p-6 rounded-md ">
    <h1 class="text-2xl font-bold">About This Project:</h1>
    <p>
      This is a quote app built with Astro. It loads quotes dynamically and teaches modern web practices.
    </p>
  </div>
</BaseLayout>
